<h1>New App</h1>

 <div class="row">
   <div class="col-md-12">
     <%= form_for @app do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter App Title" %>
       </div>
       <div class="form-group">
         <%= f.label :url %>
         <%= f.text_field :url, rows: 8, class: 'form-control', placeholder: "Enter Url" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div>
